.env
.env.*
!.env.example
node_modules/
vendor/
tests/
.git/
.github/
.idea/
.vscode/
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
Dockerfile
.dockerignore
docker-compose*.yml
